body, html
   background-color: rgba(246,248,253, 0.5)

.app 
   padding: 3rem

.oplog__item
   border-bottom: 2px solid rgba(0,0,0, 0.1);
   padding-bottom: 2rem;
   margin-top: 2rem;

.oplog__container
   padding: 2rem
   border: 2px solid rgba(151,197,255, 0.7);
   border-radius: 2rem;
   box-shadow: 0px 0px 15px 15px rgba(177,208,248,0.15);
   background-color: white


.react-json-view .variable-row
   overflow-x: auto;