.favourites-list-icon
    width: 2.5rem;
    height: 2.5rem
    cursor: pointer
.favourites-list-icon__wrapper
    display: inline-block
.favourite-icons-group
    display: flex;
    position: absolute;
    top: 0.8rem;
    right: 1rem;

.favourite-icons-group
    .favourites-list-icon__wrapper
        margin-left:0.5rem