.favourite-icon
   width: 2rem
   height: 2rem
   fill: #ffc107
   &:hover
      fill: #f3cc59

.favourite-empty-icon
   width: 2rem
   height: 2rem
   fill:#ffc107
   &:hover
      fill: #f3cc59


.favourites-toggle
    cursor: pointer
    display: inline-block