.oplog-grid
    border-collapse: collapse;
    width:100%
    td,th
        padding:1rem
        border-bottom: 1px solid gray
        &.even-cell
            background-color#efefef;
.oplog-grid__no-items-message
    padding: 1rem 0;