.inline-loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: black;
  letter-spacing: 0.1em;
  position: relative;
  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #93a8f3;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }
  
  &::before {
    top: 0;
  }
  
  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}