.oplog-modal-overlay
    background-color: rgba(125,125,125, 0.5);
.oplog-modal-content
    background-color: white
    min-width: 30rem
    min-height: 30rem
    border-radius: 2rem;
    padding: 2rem;

.oplog-modal__close-icon
    position: absolute;
    right: 2rem;
    top: 0.6rem;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 4rem;
    color: gray;
    line-height: 2.4rem;
    &:before
        content: "+";
        position: absolute;
