body, html
   background-color: rgba(246,248,253, 0.5)
i
   font-style: normal;
* {
  box-sizing: border-box;
}

body 
  margin: 2rem;

h1
   margin: 0;
h2
   margin: 0;
   padding: 0.2rem 0;
   display: inline-block
.popup-content 
   font-family: 'Open Sans',sans-serif;
.app 
   padding: 1rem 0.5rem;
   font-family: 'Open Sans',sans-serif;
   max-width: 80rem;
   margin: auto;

.oplog__item
   border-bottom: 2px solid rgba(0,0,0, 0.1);
   padding-bottom: 2rem;
   margin-top: 2rem;

.oplog__container
   padding: 2rem
   border: 2px solid rgba(151,197,255, 0.7);
   border-radius: 2rem;
   box-shadow: 0px 0px 15px 15px rgba(177,208,248,0.15);
   background-color: white
.react-json-view
    margin-top: 0.3rem;
.react-json-view .variable-row
   overflow-x: auto;

.oplog__item-header
    border: 1px solid #0000003b;
    border-radius: 1rem;
    padding: 0.67em 5rem 0.67rem 1.5rem;
    background-color: rgba(212, 230, 255, 0.6);
    position: relative;

.oplog-operation__container
    background-color: rgba(229, 240, 255, 0.5);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

.oplog__item-operation 
   margin: 0 0.7rem;   

.oplog__item-header-main-info
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-weight: bold

.oplog__item-header-additional-info
    font-size: 0.8rem;
    font-weight: 600;
    color: #737171e0;
    padding: 0.5rem 0;

.oplog__item-header-toggle i:before
   content: "+"

.oplog__item-header-toggle
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    cursor: pointer;

.oplog__item-header-toggle--opened
   transform: translateY(-50%) rotate(45deg);

.oplog-operation
   padding: 1rem
   background-color: white;
   border-radius: 1rem;
   margin: 0.5rem;

.oplog-operation__collection 
    font-weight: bold;
    font-size: 0.95rem
.oplog-operation__entityid
   font-weight: bold;

.oplog-operation__collection-action
   padding: 0 0 0.5rem 0;
   font-size: 0.9rem;
   color: #545454ed;


.oplog-operation__changes-label
   font-size: 0.9rem;

.oplog__item-collections
   width: 100%
   text-align: justify;

.oplog__item:first-of-type 
    margin-top: 0;
.oplog__filters
   margin-bottom: 1rem
   position relative

.oplog-filters-group
   display: flex
   flex-wrap: wrap;
   .form-input
      min-width: 20rem
      margin-right: 1.5rem
      margin-bottom: 1rem;

.operation__entityid--highlight, .oplog__collection--highlight
   background-color: rgb(255,255,0)


.oplog__list-wrapper
   position relative
   padding: 0 5rem

.oplog__filters-wrapper
   padding: 0 5rem
   position relative

.form-input
   label 
      display: inline-block
      margin-bottom: 0.3rem

.favourite-filter__popup-container
   h1
      margin-bottom: 1rem


.oplog-filters__find-btn-diff:before
    content: "\0021";
    position: absolute;
    top: -4px;
    right: 25px;
    z-index: 100;
    font-size: 1.6rem;
    color: #f79128;
    font-weight: bold;

.oplog-filters__find-btn-wrapper
   display: inline-block
   position relative

.oplog__list .oplog__item:last-of-type 
    border-bottom: none;
.load-more-btn__wrapper
   display: flex;
   justify-content: center;
   flex-direction: row;
   height: 50px
.items-inline-loader__wrapper
   display: flex
   flex-direction: column
   align-items: center

.oplog__settings-container
    position: absolute;
    right: 0rem;
    top: 0rem;

.oplog-operation__show-more-card
   width: 100%
   display: flex
   flex-direction: column
   align-items: center
.oplog-operation__show-more-card__operations-count
   font-size: 0.7rem
   font-weight: bold
   color: gray


@media (max-width: 650px) 
   .oplog__filters-wrapper
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   .oplog__settings-container
      position: relative;
      display: inline-block;
      margin-bottom: 1rem;
   body
      margin: 0;
   .oplog__filters-wrapper
      padding: 0 1rem
   .oplog__list-wrapper
      padding: 0 1rem