.oplog-popup-overlay
    background-color: rgba(125,125,125, 0.5);
.oplog-popup-content
    background-color: white
    min-width: 30rem
    min-height: 30rem
    border-radius: 2rem;
    padding: 2rem;