.grid-btn__container
    cursor: pointer
    display: inline-block;
.delete-icon,.select-icon
    width: 1.5rem;
    height: 1.5rem
.select-btn
    fill: #6b85e2;
    &:hover
        fill:#9da8d2
.delete-btn
    fill: #e24a4a;
    &:hover
        fill:#d49f9f