.grid-btn__container
    cursor: pointer
    display: inline-block;
.delete-icon,.select-icon
    width: 1.5rem;
    height: 1.5rem
.select-btn
    path
        fill: #6b85e2;
.delete-btn
    path
        fill: #e24a4a;