.text-input
    display:block;
    width:100%;
    padding:10px;
    border-radius: 0.5em;
    border: 1px solid #aaa;
    transition: .3s border-color;
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.04);
    outline:none;
    &:hover 
        border: 1px solid #aaa;
